@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,700&display=swap');

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.result {
  text-align: right;
  background: #adadad;
  padding-right: 2px;
  padding-top: 10px;
  border: #fff 1px solid;
  height: 40px;
  font-size: 25px;
  white-space: nowrap;
  overflow: auto; /* Hide overflowed text */
}

.normalBtn,
.btn-special,
.btn-double {
  color: #000;
  height: 40px;
  border: #fff 1px solid;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  border-radius: 6px;
}

.normalBtn {
  background-color: #a59393;
  width: 25%;
}

.normalBtn:active {
  background-color: #a5512b;
}

.btn-special {
  width: 25%;
  background: #a5512b;
}

.btn-special:active {
  background-color: #c9c2bf;
}

.btn-double {
  width: 50%;
  background: #ad9f9f;
}

.btn-double:active {
  background-color: #a5512b;
}

.quotes {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  padding-top: 50px;
}